<div class="parent">
    <form [formGroup]="loginForm">
    <label>username</label>
    <input type="text"  formControlName="email">
    <br>
    <br>
    <label>password</label>
    <input type="password"formControlName="password">

    <div class="error "*ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <p *ngIf="loginForm.get('password')?.errors?.['required']">password is required</p>
        <p *ngIf="loginForm.get('password')?.errors?.['required']">At lease o upper case, one lower case,one special chaacter,onnumber</p>
    </div>
    
    <br>
    <br>
    <button (click)="submit()">Login</button>

   </form>
</div>