<div class="parent">
    <div class="child1">
        <h3 routerLink="home">home</h3>
        <h3 routerLink="databinding">databinding</h3>
        <h3 routerLink="eventbinding">eventbinding</h3>
        <h3 routerLink="calculator">calculator</h3>
        <h3 routerLink="square">square</h3>
         <h3 routerLink="rectangle">rectangle</h3>
        <h3 routerLink="twowaybinding">twowaybinding</h3>
        <h3 routerLink="event-registration">event-registration</h3>
        <h3 routerLink="stdent-register">student-register</h3>
        <h3 routerLink="cartworks">cartworks</h3>
        <h3 routerLink="Employees">Employees</h3>
        <h3 routerLink="Pipes">Pipes</h3>
        <h3 routerLink="cars">cars</h3>
        <h3 routerLink="vehicle">vehicle</h3>
        <h3 routerLink="accounts">accounts</h3>
        <h3 routerLink="item">item</h3>
        <h3 routerLink="mail">mail</h3>
       <h3 routerLink="admin">admin</h3>
        <h3 routerLink="createvehicle">createvehicle</h3>
        <h3 routerLink="createuser">createuser</h3>
        


        <button routerLink="/login" class="logout">logout</button>
    </div>

    <div class="child2">
        <router-outlet></router-outlet>
    </div>
</div>  
